.card-header {
    border-color: #d7dae3;
    background: 0 0;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-header:first-child {
    border-radius: calc(0.375rem - 1px) calc(0.375rem - 1px) 0 0;
    
}